<div class="container-fluid">
<div class="row">
  <div class="col-xs-3">
    <p>hello</p>

    <div class="col-xs-12" style='margin-top: 20px;'>
        <label><b>Assigned To:</b><select style='border-radius: 6px; width:100%' ng-model="dashboard.name" ng-options="x for x in dashboard.allAgent"></select></label>
    </div>

    <div class="col-xs-12"  style='margin-top: 20px;'>
        <label><b>Group:</b><select style='border-radius: 6px;width:100%' ng-model="dashboard.groupname" ng-options="x for x in dashboard.group"></select></label>
    </div>

    <div class="col-xs-12" style='margin-top: 20px;'>
        <label><b>Created:</b><select style='border-radius: 6px; width:100%' ng-model="dashboard.name" ng-options="x for x in dashboard.allAgent"></select></label>
    </div>

    <div class="col-xs-12" style='margin-top: 20px;'>
        <label><b>Due By:</b><select style='border-radius: 6px; width:100%' ng-model="dashboard.name" ng-options="x for x in dashboard.allAgent"></select></label>
    </div>

    <div class="col-xs-12" style='margin-top: 20px;'>
        <label><b>Created By:</b><select style='border-radius: 6px; width:100%' ng-model="dashboard.name" ng-options="x for x in dashboard.allAgent"></select></label>
    </div>

    <div class="col-xs-12" style='margin-top: 20px;'>
        <label><b>Status:</b><select style='border-radius: 6px; width:100%' ng-model="dashboard.name" ng-options="x for x in dashboard.allAgent"></select></label>
    </div>

    <div class="col-xs-12" style='margin-top: 20px;'>
        <label><b>Priority:</b><select style='border-radius: 6px; width:100%' ng-model="dashboard.name" ng-options="x for x in dashboard.allAgent"></select></label>
    </div>

    <div class="col-xs-12" style='margin-top: 20px;'>
        <label><b>Type:</b><select style='border-radius: 6px; width:100%' ng-model="dashboard.name" ng-options="x for x in dashboard.allAgent"></select></label>
    </div>

  </div>
  <div class="col-xs-9">
    <!-- <p>hello</p>
    <div class="col-xs-12" style='margin-top: 2px;'>
        <label><b>Detail:</b><select style='border-radius: 6px; width:100%' ng-model="dashboard.name" ng-options="x for x in dashboard.allAgent"></select></label>
    </div>
    <div class="col-xs-12" style='margin-top: 2px;'>
        <label><b>Sort By:</b><select style='border-radius: 6px; width:100%' ng-model="dashboard.name" ng-options="x for x in dashboard.allAgent"></select></label>
    </div> -->
    
    <div class="col-xs-12 all-ticket">
    	<all-tickets></all-tickets>
    </div>

  </div>
</div>
</div>