    <div class="col-xs-12 ticket-div" style='margin-top: 2px;'>
    <a href="#/ticket">
        <div class="col-xs-8">
        	<div class="col-xs-12">
        	   Ticket Number
            </div>
            <div class="col-xs-12">
        	   Created By:-{{data.requestor}}
            </div>

            <div class="col-xs-12">
        	   Created On:-{{data.requestor}}
            </div>
            <div class="col-xs-12">
        	   Due By:-{{data.requestor}}
            </div>
        </div>
        
        <div class="col-xs-4">
        	<div class="col-xs-12">
        	   agent{{data.requestor}}
            </div>
            <div class="col-xs-12">
        	   status{{data.requestor}}
            </div>

            <div class="col-xs-12">
        	   priority{{data.requestor}}
            </div>

        </div>
    </a>
    </div>
